.App {
  text-align: center;
  background-color: #121212;
  height: 100vh;
}
#name{
  font-size:50px;
}

.SocialIcons{
  margin: 7px;
}
.SocialIcons:hover {
    transform: scale(1.25); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

#bodywin{
  color: white;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
